#movieListing {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 6px;
    -webkit-column-gap: 6px;
    column-gap: 6px;
	width:95%;
	margin:2.5% auto;
}
#movieListing li{
	list-style-type: none;
	padding:10px;
	margin:5px 0;
	background:#fff;
	border:1px solid #ccc;
	min-height:150px;
	display:inline-block;
	width:100%;
}
/* #movieListing img{
	width:75%;
	margin:0 auto;
} */
.movie h1{
	text-align:center;
	text-transform:capitalize;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
#movieListing p{
margin-bottom:0;
}
#searchListings{
	margin:10px auto;
	text-align:center;
}